jupyterlab==3.6.1
jupyterlab-language-pack-zh-CN
jupyterlab-lsp
jupyterlab_code_formatter
python-language-server[all]
jupyterlab-git
jupyterlab-system-monitor
black 
isort
pandas
numpy
matplotlib
tqdm
scikit-learn
ipywidgets
ipympl
download 
mindspore 
mindvision
tinyms
gradio
aim
https://obs-xihe-beijing4.obs.cn-north-4.myhuaweicloud.com/cann/mindformers/mindformers-0.3.0-py3-none-any.whl
